.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  vertical-align: middle;
  justify-content: center;
}

<<<<<<< Updated upstream
=======
.App-info {
  position: absolute;
  padding: 8px 16px 8px 16px;
  bottom: 20px;
  right: 20px;
  background-color: rgb(72, 71, 71); 
}
>>>>>>> Stashed changes
.App-fadeIn {
  background:
    url('bg.jpg') no-repeat 50% fixed;
  background-size: cover;
  animation: Background-fade 3s ease-in;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: white;
}
.App-link-hidden {
  display: none;
}

.App-noselect {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Background-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}